extends layout

block head
    title #{pagevars.title}
    style(type='text/css').
        .footer-margin {
            height: 60px;
        }
        .cdiv {
            height: 100vh;
            display: inline-flex;
            background-image: url("/images/homebg.jpeg");
            background-size: cover;
        }
        .my-auto {
            margin: auto;
        }
        .bold {
            font-weight: 16;
        }
        .cicd {
            color: #80fa00;
        }

block content
    .cdiv
        .my-auto.w-50
            h1.cover-heading.text-center Welcome to Dox!
            h3.cover-heading.text-center.cicd CI/CD Pipeline test: Beta
            p.lead.text-center.bold
                | Dox is a platform that provides network and systems administrators to quickly and easily create descriptive documentation. Dox also provides tools to manage documentation within an organizational environment with the implementation of Role-Based Access Control (RBAC).
            p.lead.text-center
                a.btn.btn-lg.btn-primary(href='/about') Learn more