doctype html
html
    head
        link(rel="stylesheet", href="/bootstrap.min.css")
        link(rel="stylesheet", href="/main.css")
        script(src="/jquery.min.js")
        script(src="/bootstrap.min.js")
        script(src="https://cloud.tinymce.com/stable/tinymce.min.js")
        script(src="/tinymce.conf.js")
        script(src="/my.js")
        //- script(src="bootstrap.bundle.min.js")
        style(type='text/css').
            .foot {
                position: fixed;
                width: 100%;
                left: 0;
                bottom: 0;
                text-align: center;
            }
        block head

    body.text-center.h-100
        header
            nav.navbar.navbar-expand-lg.bg-dark
                a.navbar-brand(href='/')
                    img.d-inline-block.align-top(src='/images/logo.svg', width='40', height='40', alt='')
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='/') Home
                        li.nav-item
                            a.nav-link(href='/dashboard') Dashboard
                        li.nav-item
                            a.nav-link(href='/login') Login
                        li.nav-item
                            a.nav-link(href='/account') My Account
                    //- form.form-inline.my-2.my-lg-0
                    //-     input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                    //-     button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

        
        block content

        div.foot
            footer
                p.text-center Copyright 2019 © Walker Price 