extends layout

block content
    div.container.mx-auto
        h1.text-center Success!
        h3.text-center Your account has been created
        p.text-center Go to your Dashboard to Start Using Dox