extends dashlyt

block head
    title #{pagevars.title}
    style.
        .dashform {
            display: none;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .rbtn {
            margin-left: 30px;
        }
        .card-link {
            margin-left: 0px !important;
        }

block dashcontent
    .border-bottom.p-2
        h1 #{pagevars.doc.docname}
        button.btn.btn-primary(id="edocbutton") Edit
        button.btn.btn-danger.rbtn(id="deldocbutton") Delete
        br
        .dashform.card.hidden.w-50.bg-light(id="cboxform")
            .card-body.text-center
                form(method="delete", action=`/dashboard/boxes/` + pagevars.boxid)
                    label Are you sure you want to permanently delete this document? Type yes if so.
                    input.form-control.d-block.mx-auto.w-75(type="text", name="delsure", placeholder="")
                    br
                    button.btn.btn-danger.form-control.w-50(type="submit") Delete Document

    .container.w-90.mx-auto.p-2
        .card.card-body
            div.doc !{pagevars.doc.content}